<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Wheel MACRO -->
    <xacro:macro name="wheel" params="name type='normal' radius=${wheel_radius} height=${wheel_length} xyz rpy='0 0 0' parent color='light_gray'
        mass=0.0 ixx=0 iyy=0 izz=0">

        <xacro:property name="normal" value="normal"/>
        <xacro:property name="caster" value="caster"/>

        <link name="${name}_wheel">
            <visual>
                <origin rpy="${rpy}" xyz="0 0 0"/>
                <xacro:if value="${type == normal}">
                    <geometry>
                        <cylinder radius="${radius}" length="${height}"/>
                    </geometry>
                    <material name="${color}"/>
                </xacro:if>
                <xacro:if value="${type == caster}">
                    <geometry>
                        <sphere radius="${radius}"/>
                    </geometry>
                    <material name="${color}"/>
                </xacro:if>
            </visual>

            <collision>
                <origin rpy="${rpy}" xyz="0 0 0"/>
                <xacro:if value="${type == normal}">
                    <geometry>
                        <cylinder radius="${radius}" length="${height}"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${type == caster}">
                    <geometry>
                        <sphere radius="${radius}"/>
                    </geometry>
                </xacro:if>
            </collision>

            <inertial>
                <origin rpy="${rpy}" xyz="0 0 0"/>
                <mass value="${mass}"/>
                <inertia ixx="${ixx}" ixy="0" ixz="0" iyy="${iyy}" iyz="0" izz="${izz}"/>
            </inertial>
        </link>

        <joint name="${name}_wheel_joint" type="continuous">
            <origin rpy="0 0 0" xyz="${xyz}"/>
            <parent link="${parent}_link"/>
            <child link="${name}_wheel"/>
            <axis rpy="0 0 0" xyz="0 1 0"/>
            <limit effort="10000" velocity="1000"/>
            <joint_properties damping="1.0" friction="1.0"/>
        </joint>

        <!-- Gazebo -->
        <xacro:if value="${type == normal}">
            <gazebo reference="${name}_wheel">
                <material>${gazebo_grey}</material>
            </gazebo>
        </xacro:if>
        <xacro:if value="${type == caster}">
            <gazebo reference="${name}_wheel">
                <material>${gazebo_green}</material>
            </gazebo>
        </xacro:if>

        <!-- ROS2 Control for Gazebo -->
        <!-- <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>

            <joint name="left_wheel_joint">
                <command_interface name="position">
                    <param name="min">-1</param> 
                    <param name="max">1</param>  
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            
            <joint name="right_wheel_joint">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control> -->

    </xacro:macro>
</robot>
